In [105]:
import pandas as pd
import numpy as np

import os

print(os.getcwd())

df = pd.read_csv("practice2.txt", delimiter= ",", na_values= ["no values", "not available"], index_col= [4])
df
# df2 = df[(df["industry_code_ANZSIC"] == "A") & (df["value"] >1000)]
# df2.reset_index(inplace=True)
# df2

C:\Users\LENOVO\PycharmProjects\Facebook

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,value,unit
variable,,,,,,
Activity unit,2011,A,"Agriculture, Forestry and Fishing",a_0,46134.0,COUNT
Rolling mean employees,2011,A,"Agriculture, Forestry and Fishing",a_0,NaN,COUNT
Salaries and wages paid,2011,A,"Agriculture, Forestry and Fishing",a_0,279.0,DOLLARS(millions)
"Sales, government funding, grants and subsidies",2011,NaN,"Agriculture, Forestry and Fishing",a_0,8187.0,DOLLARS(millions)
Total income,2011,NaN,"Agriculture, Forestry and Fishing",a_0,8866.0,DOLLARS(millions)
Total expenditure,2011,NaN,"Agriculture, Forestry and Fishing",a_0,7618.0,DOLLARS(millions)
Operating profit before tax,2011,A,"Agriculture, Forestry and Fishing",a_0,770.0,DOLLARS(millions)
Total assets,2011,A,"Agriculture, Forestry and Fishing",a_0,55700.0,DOLLARS(millions)
Fixed tangible assets,2011,A,"Agriculture, Forestry and Fishing",a_0,32155.0,DOLLARS(millions)
Activity unit,2011,A,"Agriculture, Forestry and Fishing",b_1-5,21777.0,COUNT
Rolling mean employees,2011,A,"Agriculture, Forestry and Fishing",b_1-5,38136.0,COUNT
Salaries and wages paid,2011,A,"Agriculture, Forestry and Fishing",b_1-5,1435.0,DOLLARS(millions)
"Sales, government funding, grants and subsidies",2011,A,"Agriculture, Forestry and Fishing",b_1-5,13359.0,DOLLARS(millions)
Total income,2011,A,"Agriculture, Forestry and Fishing",b_1-5,13771.0,DOLLARS(millions)

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,not available,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,no values,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,NaN,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
5,2011,NaN,"Agriculture, Forestry and Fishing",a_0,Total expenditure,7618,DOLLARS(millions)
6,2011,A,"Agriculture, Forestry and Fishing",a_0,Operating profit before tax,770,DOLLARS(millions)
7,2011,A,"Agriculture, Forestry and Fishing",a_0,Total assets,55700,DOLLARS(millions)
8,2011,A,"Agriculture, Forestry and Fishing",a_0,Fixed tangible assets,32155,DOLLARS(millions)
9,2011,A,"Agriculture, Forestry and Fishing",b_1-5,Activity unit,21777,COUNT
10,2011,A,"Agriculture, Forestry and Fishing",b_1-5,Rolling mean employees,38136,COUNT
11,2011,A,"Agriculture, Forestry and Fishing",b_1-5,Salaries and wages paid,1435,DOLLARS(millions)
12,2011,A,"Agriculture, Forestry and Fishing",b_1-5,"Sales, government funding, grants and subsidies",13359,DOLLARS(millions)
13,2011,A,"Agriculture, Forestry and Fishing",b_1-5,Total income,13771,DOLLARS(millions)

In [66]:
df = pd.read_csv("practice2.txt", delimiter= ",", names= ["year", "industry code", "industry name", "size", "variable", "value", "unit"]
                ,skiprows=[0])
df2 = df.copy()
df2.to_csv("latest_practice.txt", sep= "\t", index= False)

In [96]:
my_dict = {"name": ["selim", "rahim", "karim"], "age":[20, 22, 34], "country": ["dhaka", "soudi", "comilla"]}
xx = pd.DataFrame(my_dict)
yy = xx.set_index([["a","b","c"]])
yy

    name  age  country
a  selim   20    dhaka
b  rahim   22    soudi
c  karim   34  comilla